@import url('.\pages\patient\patient.css');
.patient-header{
    background-color:#0165FE;
    max-width: 100%;
    height: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-odontoprev{
    width: 18rem;
    height: 3.1rem;
    position: absolute;
    left: 1.8rem;
}

.btns-navbar{
    background-color: #0165FE;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
    display: inline-block;
    justify-content: space-between;
    position: absolute;
}

#btn-scheduling{
    border: none;
    margin-left: 13rem; 
}

#btn-patient-area{
    border: none;
    margin-left: 21rem;
}

#who{
    border: none;
    margin-left: 28rem;

}

#help{
    border: none;
    margin-left: 34rem;
}

#exit{
    border: none;
    margin-left: 38rem;
}

#form-options{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
    color: #9A9494;
        
}

.icon-calendar{
    width: 2rem;
    height: 2rem;
    margin-right: 0.4rem;
    margin-top: 1rem;
}

#select-grid{
    margin-top: 1.2rem;
    background-color: #0165FE;
    color: white;
    width: 10rem;
    height: 2rem;
    margin-left: 1rem;
}

.text{
    font-size: 1rem;
}

.container-dentists{
    background-color: #D9D9D9;
    width: 20rem;
    height: 12rem;
    margin-left: 2rem;
}

.icon-people{
    width: 1.3rem;
    height: 1.3rem; 
    margin-right: 0.4rem;
}

.info1{
    padding-top: 2rem;
    margin-left: 1rem;
    font-size: 0.8rem;
 }

.icon-document{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.4rem; 
}

 .info2{
    padding-top: 0.8rem;
    padding-left: 1rem;
    font-size: 0.8rem;
 }

.icon-cro{
    width: 1.3rem;
    height: 1.3rem; 
    margin-right: 0.4rem;
}

 .info3{
    padding-top: 0.8rem;
    padding-left: 1rem;
    font-size: 0.8rem;
 }