@import url('.\pages\patient\patient.css');
.patient-header{
    background-color:#0165FE;
    max-width: 100%;
    height: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-odontoprev{
    width: 18rem;
    height: 3.1rem;
    position: absolute;
    left: 1.8rem;
}

.btns-navbar{
    background-color: #0165FE;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
    display: inline-block;
    justify-content: space-between;
    position: absolute;
}

#btn-scheduling{
    border: none;
    margin-left: 15rem; 
}

#btn-patient-area{
    border: none;
    margin-left: 24rem;
}

#who{
    border: none;
    margin-left: 32rem;

}

#help{
    border: none;
    margin-left: 38rem;
}

#form-options{
    display: flex;
    margin-top: 3rem;
    justify-content: center;
        
}

.icon-calendar{
    width: 2rem;
    height: 2rem;
    margin-right: 0.4rem;
}

#select-grid{
    margin-top: 1.5rem;
}