
.warning-body{
    display: flex;
    justify-content: center;
}

.container-warning{
background-color: #0165FE;
display: flex;
width: 25rem;
height: 20rem;
margin-top: 10rem;
border-radius: 0.3rem;
}

.btn-back{
    color: black;
    background-color: white;
    margin-top: 18rem;
    margin-left: 20rem;
    border-radius: 0.3rem;
    width: 4rem;
    height: 1.6rem;
    cursor: pointer;
}