.warning-body {
  display: flex;
  position: relative;
  margin-left: 2%;
}

.container-warning {
  background-color: #0165fe;
  display: flex;
  width: 25rem;
  height: 20rem;
  border-radius: 0.3rem;
  justify-content: space-around;
  padding: 1rem;
}

.link {
  color: white;
  font-size: 0.8rem;
  text-decoration: underline;
}

.infos {
  position: absolute;
  text-align: center;
}

.txt-status {
  color: white;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

.ipt-situation {
  height: 2rem;
  width: 22rem;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.txt-date {
  margin-top: 3rem;
  color: black;
  font-size: bold;
}

.warning {
  color: white;
  font-size: 0.8rem;
  margin-top: 2.2rem;
}

.btn-reschedule {
  color: black;
  background-color: #f9c906;
  font-weight: bold;
  width: 12rem;
  height: 1.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 16rem;
}

.btn-reschedule:hover {
  background-color: #e4e677;
}
