.container-login {
  color: var(--branco);
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 28vw;
}

.login-form {
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  border-radius: 5px;
  padding: 3rem;
  background-color: var(--blue);
  margin-left: 12rem;
}

.logo-login {
  width: 20rem;
  height: 3.5rem;
  margin-top: auto;
}

.msg-login {
  color: var(--orange);
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: auto;
}

.inputEmail,
.inputPassword {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.button-enter {
  width: 18rem;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  font-weight: bold;
  justify-self: center;
  text-transform: uppercase;
  padding: 0.7rem;
}

.esqueci {
  color: var(--white);
  justify-self: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 90%;
}

.nconta {
  color: var(--white);
}

.conta {
  color: var(--white);
  font-size: 90%;
  font-weight: bold;
}

#print-error-login {
  margin-top: 1rem;
  color: var(--white);
  background: red;
  border-radius: 5px;
  margin-top: 1rem;
}
