.container-login{
    color: var(--branco);
    margin-top: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;  
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 28vw; 
}

.form{
    display: grid;
    grid-template-columns: 1;
    text-align: center;
    border-radius: 5px;
    padding: 40px;  
    width: 25%;
    height: 23vw;
    background-color: var(--blue); 
}
.logo-login{
    width: 60%;
    margin-top: auto; 
}
.msg-login{
  color: var(--orange);
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: auto; 
  
}
.inputEmail, .inputPassword{
  width: 100%;
  height: 90%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3rem;
}
.button-enter{
    width: 9vw;
    padding: 8px; 
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
    justify-self: center;
    text-transform: uppercase;    
    font-size: 1.3rem;
}

.esqueci{
    color: var(--white);
    justify-self: left;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 90%;
}
.nconta{
    color: var(--white);
}
.conta{
    color: var(--white);
    font-size: 90%;
    text-decoration: none;
    font-weight: bold;

}