.register-body {
  margin: 1.5rem;
}

.register-infos {
  text-align: center;
}

.register-logo-blue {
  width: 12rem;
  height: 2rem;
  margin: 1rem 0rem;
}

.register-infos h1 {
  color: var(--orange);
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1rem;
}

.register-main {
  margin-top: 1rem;
  background-color: var(--blue);
  border-radius: 0.3rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.register-input-cro {
  display: none;
}

.register-input-radio {
  margin-bottom: 1rem;
  text-align: center;

  font-weight: bold;
  color: #ffff;
}

.register-input,
.register-input-cro {
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#print-error-here {
  color: #ffff;
  background-color: red;
  width: 20rem;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.button-register {
  border-radius: 0.5rem;
  padding: 0.7rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

@media screen and (min-width: 1028px) {
  .register-body {
    display: flex;
  }

  .register-infos {
    margin: 7rem;
  }

  .register-logo-blue {
    width: 20rem;
    height: 3.5rem;
    margin-bottom: 3rem;
  }

  .register-infos h1 {
    font-size: 26px;
    margin-bottom: 3rem;
  }

  .register-main {
    margin: 5rem;
  }
}

@media screen and (min-width: 1550px) {
  .register-infos {
    margin: 15rem;
  }

  .register-main {
    margin: 10rem;
  }
}
