.register-body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.register-infos {
  text-align: center;
}

.register-logo-blue {
  margin-bottom: 2rem;
  width: 20rem;
  height: 3.5rem;
}

.register-infos h1 {
  color: var(--orange);
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 3rem;
}

.register-main {
  background-color: var(--blue);
  border-radius: 0.3rem;
  margin-left: 10rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;  
}

.register-input-radio {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.register-cro {
  display: flex;
  display: none;
}

.register-input-cro {
  float: right;
  width: 15rem;
}

.register-input,
.register-input-cro, .btn-select-uf {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#print-error-here {
  background-color: red;
  border-radius: 0.3rem;
  color: var(--white);
  margin-bottom: 1rem;
  text-align: center;
  width: auto;
}

.button-register {
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.7rem;
  font-size: 1rem;
}

.register-input,
.button-register {
  width: 20rem;
}

.register-back-login {
  color: var(--white);
  margin-top: 3rem;
  text-align: center;
}

.register-login {
  color: var(--white);
  font-weight: bold;
}
