.btSchedulingp {
  background-color: #24611a;
  color: var(--white);
  padding: 1rem;
  border-radius: 5px;
  height: 70%;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.btSchedulingp:hover {
  background-color: #348527;
}

.select-grid {
  border-radius: 5px;
  height: 70%;
}

.ipt-situation {
  border-radius: 5px;
  font-weight: bold;
  width: 90%;
  padding: 0.5rem;
}

.dentist-warning {
  height: 15rem;
  padding: 10px;
  background-color: #7dd866;
  border-radius: 5px;
  text-align: -webkit-center;
  font-size: 30px;
}

.txt-dentist {
  font-size: 1rem;
  color: var(--black);
  font-weight: bold;
}

.warning {
  color: var(--black);
  font-size: 1rem;
  margin-top: -0.2rem;
}

.dlink {
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
}
