.dentist-warning-w {
  height: 18rem;
  padding: 10px;
  background-color: #f4f59c;
  border-radius: 5px;
  text-align: -webkit-center;
  font-size: 30px;
}

.btSchedulingw {
  background-color: #f9c906;
  color: var(--black);
  padding: 1rem;
  border-radius: 5px;
  height: 70%;
  margin-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.btSchedulingw:hover {
  background-color: #f1d04e;
}

.btns {
  justify-content: space-between;
}

.btnAcept {
  background-color: green;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.btnAcept:hover {
  background-color: rgb(54, 170, 54);
}

.btnDeny {
  color: var(--white);
  background-color: red;
  border-radius: 5px;
  padding: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.btnDeny:hover {
  background-color: rgb(246, 68, 68);
}
